html {
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
    box-sizing: border-box;
}

.font-default {
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    transition-duration: 0.5s;
}

.bg-black {
    background-color: black;
}

.border-salmon {
    border: 4px solid #FF4242;
    border-radius: 7px;
}

/* Header CSS */

header {
    width: 100%;
    height: 720px;
    background: linear-gradient(180deg, #000000 0%, rgba(60, 60, 60, 0.34) 100%), url('../img/image.png');
    background-size: cover;
}
.nav-link {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
    color: white !important;
}
.container-banner {
    width: 100%;
    height: 500px;
    position: relative;
    top: 235px;
}
.title-resto {
    color: white;
    font-family: 'Bubblegum Sans', cursive;
    font-size: 120px;
    line-height: 80px !important;
}
.container-banner p {
    color: #FFFFFF;
    font-size: 34px;
    font-family: 'Italiana', serif;
}
.btn-login {
    width: 220px;
    height: 45px;
    background: #FF4242;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: white;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.25);
}

/* About CSS */

.container-about {
    width: 100%;
    height: auto;
}
.brush {
    width: 100%;
    margin-top: -60px;
}
.container-about h1 {
    font-family: 'Montserrat', sans-serif;
    z-index: 999;
    top: -100px !important;
}
/* Promo CSS */

.container-promo {
    width: 100%;
    height: auto;
    background: url('../img/promo.png');
    background-size: cover;
}
.layer {
    background: rgba(0, 0, 0, 0.76);
    z-index: 99;
    width: 100%;
    height: 100%;
}
.container-promo h1 {
    font-family: 'Montserrat', sans-serif;
    color: white;
}
.judul {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 23px;
}
.harga {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: white;
    font-weight: 700;
}
.container-promo button {
    background: #FF4242;
    border: none;
    width: 210px;
    height: 45px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: white;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.2);
}

/* Container Category */
.container-category {
    width: 100%;
    height: auto;
}
.title-category {
    font-family: 'Montserrat', sans-serif;
}

/* Footer CSS */
.container-footer {
    width: 100%;
    height: auto;
    background-color: #1a1a1a;
}

@media (max-width: 992px) {
    .nav-link {
        text-align: center !important;
        margin-left: 50px !important;
        color: #FF4242 !important;

    }
    .navbar-nav {
        background: white;
        border-radius: 6px ;
    }
}

@media (max-width: 600px) {
    .title-resto {
        font-size: 90px;
    }
    .container-banner p {
        font-size: 25px;
    }
    .btn-login {
        width: 180px;
    }
}

@media (max-width: 575px) {
    footer .col-sm-2 {
        margin-bottom: 40px;
    }
}

@media (max-width: 450px) {
    .logo {
        margin-left: 5px !important;
    }
    .title-resto {
        font-size: 5em;
    }
    .btn-login .log {
        width: 100%;
        color: black;
    }
}

@media (max-width: 435px) {
    .container-banner p{
        font-size: 4.7vw;
    }
    .log {
        width: 130px;
        margin-right: 10px !important;
    }
    .reg {
        width: 130px;
        margin-left: 10px !important;
    }
}

@media (max-width: 370px) {
    .title-resto {
        font-size: 4rem;
    }
}
